@media (max-width: 700px) and (orientation: landscape) {
  .app input{
    height:30%;
  }
  .app button{
    height:30%;
    font-size:13px;
    padding:3px;
  }
}
@media (min-height: 1200px) and (orientation: portrait) {
  .app input{
    height:100%;
    font-size:20px;
  }
}