.city {
	font-size: 35px;
	border-bottom: 2px solid rgba(59, 58, 58, 0.39);
	margin-bottom: 2vh;
	text-align: center;
}
div.Clouds,
div.Clear,
div.Rain,
div.Mist,
div.Fog,
div.Drizzle,
div.Sun {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}
div.Clouds {
	background-image: url(../img/Clouds.png);
}
div.Clear,
div.Sun {
	background-image: url(../img/Sun.png);
}
div.Fog,
div.Mist {
	background-image: url(../img/Fog.png);
}
div.Drizzle,
div.Rain {
	background-image: url(../img/Rain.png);
}

div.photoContainer {
	width: 100px;
	height: 100px;
}
div.wrapperContent {
	display: flex;
	position: relative;
	justify-content: space-around;
}
@media (max-width: 800px) {
	.result {
		margin-top: 3vh;
		background-color: rgba(49, 48, 48, 0.274);
		border-radius: 10%;
		padding: 20px;
		width: 90%;
		height: 100%;
	}
}
@media (max-width: 425px) {
	div.text p,
	span {
		font-size: 15px;
	}
	.wrapperContent {
		flex-flow: column;
	}
}

@media (min-width: 801px) {
	.result {
		margin-top: 3vh;
		background-color: rgba(49, 48, 48, 0.39);
		border-radius: 10%;
		padding: 20px;
		width: 40%;
		height: 100%;
	}
}
